<template>
  <div id="app">
    <div class="container">
            <form action="" method="post" v-on:submit.prevent="submit">
              <div class="field">
                <label class="label">Tipo de recurso tecnológico:</label>
                <div class="select">
                  <select @change="tomarSeleccionTipoRecurso">
                    <option value="" selected disabled>Seleccione...</option>
                    <option v-for="tipo in tipos" :key="tipo.id" :value="tipo.id">
                      {{ tipo.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="section">

                  <vue-good-table
                      :columns="recursosColumns"
                      :rows="recursos"
                      :group-options="{
                          enabled: true
                      }"
                      @on-row-click="onRowClick"
                      >
                  </vue-good-table>
              </div>
              <div class="section">
                <vue-cal
                  :selected-date="selectedDate"
                  locale="es"
                  :time-from="9 * 60"
                  :time-to="19 * 60"
                  :disable-views="['years', 'year']"
                  hide-weekends
                  :events="turnos"
                  :on-event-click="tomarSeleccionTurno">
                </vue-cal>
              </div>
              <card-modal 
                :visible="mostrarmodal" 
                transition="zoom" 
                :title="tituloModal" 
                v-on:ok="tomarConfirmacion" 
                v-on:cancel="tomarCancelacion">
              </card-modal>
            </form>
        </div>
        <div id="lock" v-if="isLoading" class="is-mobile is-centered">
          <div class="indicator">
            <progress class="progress is-large is-info" max="100">60%</progress>
          </div>
        </div>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/i18n/es.js'
import 'vue-cal/dist/vuecal.css'
import { CardModal } from 'vue-bulma-modal'

export default {
  name: 'App',
  components: { 
    VueCal,
    CardModal,
  },
  data() {
    return {
      selectedDate: new Date(),
      isLoading: false,
      tipos: [],
      mostrarmodal: false,
      recursosColumns: [
        {
          label: 'Número inventario',
          field: 'idRT',
          type: 'number',
          sortable: false,
        },
        {
          label: 'Estado',
          field: 'estado',
          sortable: false,
        },
        {
          label: 'Marca',
          field: 'marca',
          sortable: false,
        },
        {
          label: 'Modelo',
          field: 'modelo',
          sortable: false,
        },
        {
          label: 'Seleccionado',
          field: 'btn',
          sortable: false,
          html: true
        }
      ],
      recursos: [],
      turnos: [],
      recursoSeleccionado: null,
      turnoSeleccionado: null,
      tituloModal: "",
      isResultEmpty: false
    };
  },
  mounted() {
    this.habilitar();
  },
  methods: {
    habilitar: function () {
      this.isLoading = true;
      this.$axios
        .get('/buscarTipoRecursos')
        .then(response => {
            this.isLoading = false;
            this.tipos = response.data;
        });
    },
    tomarSeleccionTipoRecurso: function (event) {
      let idTipoRecurso = event.target.value;
      this.$axios
        .get('/recursosXTipoSeleccionado?idTipoRecurso=' + idTipoRecurso)
        .then(response => {
            this.isLoading = false;
            this.turnos = [];
            this.recursos = response.data.map(function(x) {
              return {
                mode: "span",
                label: x.label,
                html: false,
                children: x.children.map(function(y) {
                  return {
                    estado: y.estado,
                    idRT: y.idRT,
                    marca: y.marca,
                    modelo: y.modelo,
                    btn: '<input type="radio" id=check-' +  y.idRT + ' name="rt"></input>'
                  }
                })
              }
            });
        });
    },
    onRowClick: function (params) {
      this.recursoSeleccionado = params.row.idRT;
      document.getElementById('check-' + this.recursoSeleccionado).checked = true;
      this.seleccionarRT();
    },
    seleccionarRT: function () {
      this.$axios
        .get('/obtenerTurnos?id=' + this.recursoSeleccionado)
        .then(response => { 
          let arr = [];
          response.data.forEach(function (x) {
            applyBgColorToDay(x.fecha, x.color);
            x.turnos.forEach(function (t) {
              let turno = { 
                start: t.start, 
                end: t.end, 
                title: t.title, 
                content: t.content, 
                class: t.color,
                _eid: t.color 
              };
              arr.push(turno);
            })
          })
          console.log(arr);
          this.turnos = arr;
        });
    },
    tomarSeleccionTurno: function (param) {
      if (param.class === 'rojo') {
         return;
      }
      let id = param.title.split('-')[1]
      console.log(id);
      this.turnoSeleccionado = id;
      this.mostrarmodal = true;
      this.tituloModal = "¿Desea confirmar reserva?";
    },
    tomarConfirmacion: function() {
      if(this.tituloModal === "Reserva Confirmada Exitosamente!") {
        this.mostrarmodal = false;
        this.seleccionarRT();
        return;
      }
      this.mostrarmodal = false;
      this.isLoading = true;

      this.$axios
        .post('/', {recursoSeleccionado: this.recursoSeleccionado, turnoSeleccionado: this.turnoSeleccionado})
        .then(() => {
          setTimeout(() => {
            this.tituloModal = "Reserva Confirmada Exitosamente!";
            this.mostrarmodal = true;
            this.isLoading = false;
          }, 2000);
        });
    },
    tomarCancelacion: function() {
      this.mostrarmodal = false;
    },
    submit: function () {
      this.isResultEmpty = false;
    },
  }
}

function applyBgColorToDay(dia, color) {
  const dias = {
    "Lunes": 1,
    "Martes": 2,
    "Miercoles": 3,
    "Jueves": 4,
    "Viernes": 5
  }
  const colores = {
    rojo: "lightcoral",
    azul: "aliceblue",
  }
  document.querySelectorAll(".vuecal__cell").forEach((item, index) => {
    if (dias[dia] - 1 === index) {
      item.style.backgroundColor = colores[color];
    }
  });
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

select,
input[type=number],
input[type=date],
input[type=time] {
    min-width: 100px;
    max-width: 700px;
}

.rojo {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.azul {
  background-color: blue;
  color: white;
  cursor: pointer;
}

#lock {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8); /*lets make it semi-transparent */
  z-index: 9999; /*because you could set some z-indexes in your code before, so lets make sure that this will be over every elements in html*/
}

#lock .indicator {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 25%;
}
</style>
